.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightseagreen;
  min-height: 100vh;
}

.App-header {
  background-color:#282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  border: solid 5px greenyellow;
  width: 400px;
  height: 500px;
  border-radius: 20px;

  button{
    border-radius: 10px;
    padding: 10px;
    background-color:coral;
    cursor: pointer;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
